.view-toggle {
    background: none !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 1.5rem !important;
    padding: 0.5rem !important;
    color: white !important; /* Inactive color */
  }
  
  .view-toggle.active {
    color: #2a6310 !important; /* Active color matching the theme */
  }
  
  .p-lr5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: white !important; /* Default color */
    margin-right: 10px !important;
  }
  
  .p-lr5.active {
    color: #2a6310 !important; /* Active color matching the theme */
  }
  
  .sectionContainer {
    padding: 20px !important;
    background-color: #fff !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    cursor: pointer !important;
    position: relative !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 20px !important;
    transition: box-shadow 0.3s ease, max-height 0.3s ease !important;
    min-height: 300px !important;
    max-height: 350px !important;
  }
  .sectionContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8) !important;
  }
  .ctcBadge {
    background-color: #2a6310 !important;
    color: white !important;
    padding: 8px !important;
    border-radius: 4px !important;
  }
  .jobTitle {
    color: #2a6310 !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }