/* LatestDiscussions.module.css */

.discussionCard {
  background: white !important;
  padding: 20px !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  transition: box-shadow 0.3s ease, max-height 0.3s ease !important;
  display: flex !important;
  flex-direction: column !important;
  min-height: 350px !important; /* Ensure same initial height */
  max-height: 350px !important; /* Limit height initially */
  overflow: hidden; /* Hide overflow */
}

.discussionCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8) !important;
}

.discussionCard.expanded {
  max-height: 1000px !important; /* Allow it to grow */
}

.font-weight-bold {
  font-weight: 700 !important;
}

.section-head {
  margin-bottom: 2rem !important;
}

.head-counter-bx {
  text-align: center !important;
}

.description {
  transition: max-height 0.3s ease, padding 0.3s ease !important;
  overflow: hidden !important;
  max-height: 100px !important;
  padding-bottom: 10px !important;
  flex-grow: 1; /* Ensure the description takes available space */
}

.description.expanded {
  max-height: none !important;
  padding-bottom: 20px !important;
}

.card {
  transition: box-shadow 0.3s ease !important;
}

.card.expanded {
  max-height: 1000px !important; /* Allow expansion */
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.link {
  font-weight: 600 !important;
}

.link:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

.read-more-btn {
  color: #2a6310;
  padding: 0 !important;
  padding-bottom: 5px !important;
  text-decoration: underline !important;
  align-self: flex-start !important;
}
