/* ChatSection.module.css */
.container {
    width: 100% !important;
    height: 100% !important;
    /* background-color: rgba(17, 25, 40, 0.75) !important; */
    backdrop-filter: blur(19px) saturate(180%) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
    display: flex !important;
  }
  
  .loading {
    padding: 50px !important;
    font-size: 36px !important;
    border-radius: 10px !important;
    background-color: rgba(17, 25, 40, 0.9) !important;
  }
  