.width-form {
  width: 180%;
  margin-top: 20px !important;
}

.otp-button-center {
  margin-left: 0;
  width: 180% !important;
}
.account-button-center {
  margin-left: 30%;
}

.rubik-font {
  font-family: "Rubik", sans-serif !important;
}

.lato-font {
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.03em;
  width: 100%;
}

.lato-fonts {
  font-family: "Lato", sans-serif !important;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.forgot-password-link {
  color: #007bff;
  text-decoration: none !important;
  white-space: nowrap;
  text-align: center !important;
}

.forgot-password-link:hover {
  text-decoration: underline !important;
}

.no-wrap {
  white-space: nowrap;
}

.forget-div {
  margin-top: 10px;
  text-align: end !important;
}

.form-check {
  display: flex;
  align-items: center;
}

.div-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 3px;
}

.create-div{
  text-align: end !important;
}